*{
    margin: 0;
    padding: 0;
}
.container1{
    background-color: aquamarine;
    height:250px ;
    width: 250px;
    border: 5px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box1{
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 5px;
    
}
h1{
    font-style: italic;
    
}